<div id="new-tasklist<%= project_id %>" class="modal hide fade">
  <%= form_tag url_for(:controller => :tasklists,
  							       :action => :create,
  							       :project_id => project_id),
  							       :class => 'form-vertical' do %>

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;
      </button>

      <h3>New Tasklist<h3>
    </div>

    <div class="modal-body">
      <%= text_field :tasklist, :name %>
      <%= submit_tag('Add Tasklist', :class => 'btn-primary') %>
    </div>

  <% end %>
</div>