
<div class="span8">
	<div class="well">

		<ul class="nav nav-tabs" id="projects_tabs">			
			<li><a href="#users_projects" data-toggle="tab">Your Projects</a></li>
			<li><a href="#collaborations" data-toggle="tab">Collaborations</a></li>
			<%= render "projects/form", :locals => { :project => @project } %>
		</ul>

		<div class="tab-content">
			<%= render 'projects_body' %>		
			<%= render 'collaboration' %>
		</div>
			
			
	</div>
</div>

<div class="span4">
	<div class="well">

	</div>
</div>


