<h1>All Your Projects</h1>
<%= render "projects/form", :locals => { :project => @project } %>
<ul>
<%= render @projects %>
</ul>

<h3>Collaborating Projects</h3>

<ul>

<%= render 'collaboration' %>

</ul>

<%= params %>





